div {
    margin: 20px;
    padding: 0px;
    width: 367px;
}



p {
    border: 5px solid rgb(125,206,148);
    margin: 15px 0px;
    padding: 17px 17px;
    height: 100px;
    background-color: rgba(13,145,161,1);
    font-size: 36px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.3);
}
