body {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  /*max-width: 1000px;*/
  background: grey;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
}

.main {
  flex: 6 1 auto;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px 5px 0 0;

}

.panel {
  flex-grow: 1;
  min-width: 350px;
  min-height: 350px;
  background: #F5F5F5;
}

.left {
  border-right: 2px solid #d5d5d5;
}

.controlpanel {
  flex: 1 1 80px;
  border-radius: 0 0 5px 5px;
  background: #fff;
  display: flex;
}

.control {
  border: 1px solid grey;
  margin: 3px;
}

.playback {
  flex: 0 1 120px;
}

.seekbar {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  flex: 0 1 120px;
}

audio::-webkit-media-controls-panel {
  background: #fff;
}

audio::-webkit-media-controls-play-button {
  display: none;
}

audio::-webkit-media-controls-timeline {
  background: #3CC7D1;
  height: 5px;
  border-radius: 10px;
  /*margin-left: 25px;*/
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display {
  background: red;
  color: grey;
  font-weight: bold;
}



/*audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button
*/






