.container {
  display: flex;
}

.item {
  width: auto;
  height: 150px;

}

.green {
  background: green;
  order:3;
  flex-grow: 1;
}

.yellow {
  background: yellow;
  order:2;
  flex-grow: 2
}

.purple {
  background: purple;
  order:1;
  flex-grow: 1;

}