.container {
  display: flex;
  width: auto;
  height: 300px;
  /*flex-wrap: wrap;*/
  flex-direction: column;

}

/*.item {
  width: 960px;
  height: 150px;

}*/

.green {
  background: green;
  order:1;
  flex-grow: 1;
}

.yellow {
  background: yellow;
  order:3;
  flex-grow: 2
}

.purple {
  background: purple;
  order:2;
  flex-grow: 1;

}