body {
  background: #eee;
}

.container {
  display: flex;
  flex-direction: column;
}


.frame {
  margin: 50px auto;
  width: 640px;
  height: 480px;
  background: #eee;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


.mainImage {
  display: flex;
  margin: auto;
  height: auto;
  width: 600px;
  border-radius: 1%;
}


.wrapper-nav {
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  margin: auto 0px;
  width: auto;
  height: auto;
  background: #eee;
  padding-left: 0px;
  align-items: center;
  justify-content: center;
}



.thumb {
  background: #999;
  list-style: none;
  min-width: 100px;
  height: 100px;
  margin: 7px 12px;
  opacity: 0.4;
  border-radius: 5%;
  /*background-image: url("img/pic1.jpg");*/
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;     
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.thumb:hover {
    position:relative;
    transform: scale(1.05);
    opacity: 1;
}


/*.box {

    display: flex;
    flex-flow:  ;
    flex-direction: ;
    flex-wrap: ;
    justify-content: ;
    align-content: ;
    align-items: ;
}
*/












