/*body {
    font-family: sans-serif;
}*/

main {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 150px;
    color: #222;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;

}

header {
    background-image: url(../img/anakin.png);
    height : 380px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 68px;
    text-align: left;
    padding-top: 230px;
    margin: 0px 0px 30px 0px;
    font-family: 'Abril Fatface', cursive;
    color: #222;
    font-weight: lighter;
    line-height: 48px;
}

span {
    font-size: 36px;
}

h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin: 60px auto;

}

h4 {
    font-size: 24px;
}

blockquote {
    background-color: #444444;
    margin: 40px auto;
    padding: 50px 20px 50px 50px;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
    background-image: url(../img/qumark.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 60px;
    text-align: left;
}

section {
    width: 700px;
    margin: 20px auto;
}

li {
    line-height: 25px;
    list-style-type: square;
    font-size: 16px;
}

em p {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

em {
    font-weight: bold;
    font-family: 'Merriweather';
}

p {
    line-height: 20px;
}

.lower {
    margin-bottom: 5px;
}

.intro {
    line-height: 30px;
    font-size: 22px;
}

hr {
    border: none;
    height: 4px;
    background-color: #000;
    margin: 50px auto;
}
